@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";

}

.btn-dark {
    background-color: #0b1d51;
}

.btn-dark:hover {
    background-color: #000000;
}


.bg-dark-blue {
    background-color: #0b1d51;
}

.bg-light-blue {
    background-color: #a5c7f5;
}

[data-bs-theme="dark"] .bg-light-blue {
  background-color: #0b1d51;
}

[data-bs-theme="dark"] .bg-dark-blue {
  background-color: #374779;
}

[data-bs-theme="dark"] .bg-footer-blue {
    background-color: #050f2e;
}


[data-bs-theme="dark"] .text-primary {
  color: #ff1b1b !important;
}

.sidebar {
    width: 280px;
    transition: width 0.3s ease;
}

.sidebar .list-group-item {
    color: white;
    background-color: transparent;
    border: none;
    border-radius: 0.5rem;
    transition: background-color 0.2s ease;
}

.sidebar .list-group-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}